body {
  .portfolio {
    display: block;

    &__figure {
      width: 520px;
      height: 820px;
    }

    &__image {
      display: none;
    }

    &__item:nth-child(2n+1) {
      padding: 20px;
      text-align: right;

      .portfolio__figure {
        margin-right: 20px;
        margin-left: auto;
      }
    }
  }
}


.dom-gl {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
