body.main {
  main {
    display: block;
    background-color: darkblue;
    height: 100vh;
  }
}

body {
  section.portfolio {
    display: block;
    height: 100vh;
    background-color: darkgoldenrod;
  }
}
